<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>New Message</h1>
    <form method="POST" action="/new">
      <p>
        <label for="author">Author:</label>
        <input type="text" id="author" name="author" />
      </p>
      <p>
        <label for="message">Message:</label>
        <input type="text" id="message" name="message" />
      </p>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
